@model IEnumerable<Repo.Models.AdModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUser.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImagePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Skills)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUser.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdTypes.Name)
        </td>
    </tr>
}

</table>
